*{
    font-family: 'Roboto', sans-serif;

}

body{
    margin: 0;
    display:flex;
    flex-direction:column;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 450px;
}

#logo{
    font-weight: 700;
}
.header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header p{
    font-size: 24px;
    color:#F9FAF8
}

.uppest,
.header,
.footer{
    background-color: #1F2937;
}
.uppest{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}

.hero{
    width: 400px;
}

.uppest img{
    width:600px;
    height: 300px;
}

.uppest button{
    background-color: #3882F6;
    padding: 10px 50px;
    color:#F9FAF8;
    border-radius: 10px;
    border: 0px;
    font-weight: 900;
}
#maintext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#subtext{
    font-size: 18px;
    color:#E5E7EB;
    margin-top: 0;
}

a:visited, 
a:link{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.information{
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.images{
    display: flex;
    gap: 70px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.card img{
    width:200px;
    height: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.lower{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    padding: 100px;
}

.lower p{
    width: 1000px;
}

.lower span{
    float: right;
    font-weight: 700;
}

.lowest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.banner{
    width: 1000px;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    border: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    color:#E5E7EB
}

.banner span{
    font-weight: 900;
}

.banner button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    font-weight: 900;
    color: #E5E7EB;
    font-size: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: auto;
    bottom: 0;

    padding: 20px;
    color: #E5E7EB;
    font-weight: 900;
    
}